In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Paso 1: Cargar el conjunto de datos
df = pd.read_csv('amzn.us.txt')  

# Drop rows with NaN values
df_cleaned = df.dropna()

df.head()

         Date  Open  High   Low  Close    Volume  OpenInt
0  1997-05-16  1.97  1.98  1.71   1.73  14700000        0
1  1997-05-19  1.76  1.77  1.62   1.71   6106800        0
2  1997-05-20  1.73  1.75  1.64   1.64   5467200        0
3  1997-05-21  1.64  1.65  1.38   1.43  18853200        0
4  1997-05-22  1.44  1.45  1.31   1.40  11776800        0

In [27]:
    Date: Esta columna generalmente representa la fecha en la que se registraron los datos. En un conjunto de datos financiero, cada fila suele corresponder a un día de negociación, y esta columna registra la fecha de ese día.

    Open: Este es el precio de apertura de una acción o un ETF en un día de negociación específico. Es el precio al que la primera transacción de la acción o ETF se realizó ese día.

    High: Este es el precio más alto al que se negoció una acción o un ETF durante el día de negociación.

    Low: Este es el precio más bajo al que se negoció una acción o un ETF durante el día de negociación.

    Close: Este es el precio de cierre de una acción o un ETF en un día de negociación específico. Es el precio al que se realizó la última transacción de la acción o ETF ese día.

    Volume: Este es el número total de acciones o unidades de un ETF que se negociaron durante el día de negociación.

    OpenInt: Este es el interés abierto, que es el número total de contratos de opciones o futuros que están abiertos y aún no se han liquidado al final del día de negociación.

SyntaxError: invalid syntax (2601162107.py, line 1)